.aside{
    margin-top: 0;
    height: 685px;
    width: 250px;
}

.main-container{
    background-color: rgb(255, 255, 255);
    display: inline-flex
    
}

.container-sidebar{
    background-color: rgb(253, 254, 255);
    border: black 3px solid;
}

.container-sections{
    background-color: rgb(255, 255, 255);
    border: black 3px solid;
    height: 685px;
    width: 1280px;
    margin-left: 3px;
    padding: 50px 80px;
}

.container-items{
    

}

.ul-decorators{
    list-style-type: none;
    font-size: 25px;
    
}

.table {
    border-collapse: collapse;
    width: 90%;
}

.table th, .table td {
    border: 1px solid black;
}


.table-header {
    font-size: 25px;
}

.table-cell {
    font-size: 25px;
}

.sidebar-item {
    font-size: 25px;
}